<!DOCTYPE html>
<!-- -----------------------------------------------------------------------------
-- Copyright 2015 Marcelo Costa Toyama
--
-- This file is part of PixelnDice.
--
--    PixelnDice is free software: you can redistribute it and/or modify
--    it under the terms of the GNU Affero General Public License as published by
--    the Free Software Foundation, either version 3 of the License, or
--    any later version.
--
--    PixelnDice is distributed in the hope that it will be useful,
--    but WITHOUT ANY WARRANTY; without even the implied warranty of
--    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
--    GNU Affero General Public License for more details.
--
--    You should have received a copy of the GNU Affero General Public License
--    along with PixelnDice.  If not, see <http://www.gnu.org/licenses/>.
--
--------------------------------------------------------------------------------->
<html lang="en">
  <meta charset="UTF-8">
  <head>

    <title>Pixel'n Dice</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <script type="text/javascript" src="/js/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/portal.js"></script>
    <script type="text/javascript" src="/js/mustache.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>

     $(document).ready( function() {

       $("#verifyEmailForm").submit(function (e) {

         e.preventDefault();

         if( $("#inputEmail").val() != "" ){

           $("#status").html("<font color='green'>Sending email...</font>");

           portal.verifyEmail( $("#inputEmail").val(), function(msg) {

               if( msg.ok == true ){

                   $("#verifyEmailDiv").remove();

                   $("#status").html("<font color='green'>Check your email for validation link!</font>");

               }else{
                   $("#status").html("<font color='red'>"+msg.err+"</font>");
               }

           });

         }else{
           $("#status").html("<font color='red'>Please, complete the form!</font>");
         }

       });

       // prevents <ENTER> to submit a form
       $('#verifyEmailForm').bind("keyup keypress", function(e) {
         var code = e.keyCode || e.which;
         if (code  == 13) {
           e.preventDefault();
           return false;
         }
       });

     });

    </script>

  </head>

  <body>
    <div class="container-fluid">

      <!-- 1st row -->
      <div class="row">
        <div class="col-md-12">

          <h1 class="text-center">
            Pixel'n Dice
            <small> Create account or <a href="/login"> Login </a> </small>
          </h1>

        </div>
      </div>

      <!-- 2nd row -->
      <div class="row">

        <div class="col-md-4 col-md-offset-4" id="verifyEmailDiv">

          <form id="verifyEmailForm" role="form">

            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Enter email" required>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
          </form>

        </div>



      </div>

      <!-- 3 row -->
      <div class="row">
        <div class="col-md-4 col-md-offset-4" id="status">
        </div>
      </div>

    </div> <!-- Container fluid -->

  </body>

</html>
